// index.css
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 40px;
}

.cont{
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

form button, .logout {
  background: #0077cc;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

form button:hover, .logout:hover {
  background: #005fa3;
}

.logout {
  background: #e74c3c;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #eee;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
}
